.navbar.navbar-default.navbar-custom{
	background-color: #515E91;
	margin: 0;
	border-color: #515E91;
	border-radius: 0;
	color: #ffffff;
	padding: 10px 0 20px 0;
}


.navbar.navbar-default.navbar-custom li a{
	color:white;
	text-decoration:none;
}

.navbar.navbar-default.navbar-custom li a:hover,
.navbar.navbar-default.navbar-custom li a:focus{
	color:white;
	text-decoration:none;
}

.navbar.navbar-default.navbar-custom li{
	color:white;
	text-decoration:none;
}

.nav.navbar-nav{
	margin-top:10px;
}

.navbar-default .navbar-brand{
	color: white;
	text-decoration:none;
}
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:hover{
  background-color: transparent;
  color: white;
}

.navbar-default .navbar-toggle .icon-bar{
	background-color: #fff;
}

#navbarCollapse{
	border-color: #515E91;
}

.navbar-brand {
  line-height:20px;
  padding-top:20px;
  padding-bottom:10px;
  font-size: 25px;
  position:relative;
}

.navbar-brand small {
  display:block;
  font-size:15px;
}
.container-fluid{
	position: relative;
	max-width: 1080px;
}

.container-fluid.body-content{
	max-width: 720px;
}

.footer{
	background-color: #515E91;
	color: white;
	font-size: 25px;
	text-align: center;
	max-height: 200px;
	padding: 5px 0 5px 0;
}

.footer a{
	color: white;
	text-decoration:none;
}

.footnotes{
	padding: 20px 0 20px 0;
	background-color: #374e58;
	color: white;
}

.footer-nav{
	text-align:center;
}

.footer-profile img{
	margin:auto;
}

.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>.active>a:focus, 
.navbar-default .navbar-nav>.active>a:hover{
	background-color: #7B85AD ;
}

.glyphicon.glyphicon-menu-right{

}
.open>.dropdown-menu {
    display: block;
    background-color: #515E91;
}

.open>.dropdown-menu li a:hover,
.open>.dropdown-menu li a:focus {
    background-color: #515E91;
}

#about-portrait{
	border: 3px solid black;
}

#footer-portrait{
	border: 3px solid black;

}

button,
input,
textarea{
	border-radius: 0 !important;
}
.about-content{
	margin-top:5px;
}
textarea{
	resize: none;
}

@media only screen and (max-width : 767px) {

	.navbar.navbar-default.navbar-custom li{
		color:white;
		border-bottom: solid 1px #7B85AD;
	}

	#navbarCollapse{
		margin-top:25px;
	}

}

@media(max-width:992px){
	.footnotes > .container-fluid{
		max-width: 612px;
	}
	.footer-profile img{
		margin-bottom: 5px;
	}
	.about-profile img{
		margin:0 auto 10px auto;
	}
}

@media only screen and (min-width: 992px ){

	.footer-profile img{
		margin: auto 10px 0px auto;
		float:left;
	}	

	.about-profile  img{
		float:left;
		margin: 0 10px 10px 0;
	}

	.about-content{
		clear: both;
	}

}

@media(min-width:1200px){

}