<h1>
CONTACT
</h1>
<form>
	<div class="form-group">
		<label for="exampleInputName1">Name</label>
		<input class="form-control" id="exampleInputName1" placeholder="Name">
	</div>
	<div class="form-group">
		<label for="exampleInputEmail1">Email Address</label>
		<input type="email" class="form-control" id="exampleInputEmail1" placeholder="example@email.com">	
	</div>
	<div class="form-group">
		<label for="exampleInputMessage1"></label>
		<textarea class="form-control" rows = "8" id="exampleInputMessage1" placeholder="Message"></textarea>
	</div>
</form>
<button type="button" class="btn btn-default btn-lg">SUBMIT</button>