
<div class = "container-fluid">
	<div class = "row portfolio-row">
		<div class = "col-xs-6 col-md-4 portfolio-cell" style = "background-color:#00AEDB">
			<div class = "img-center">
				<a href="#"><img class = " img-responsive center-block" src = "/images/easyRentLogo.png"></a>
			</div>
		</div>
		<div class = "col-xs-6 col-md-4 portfolio-cell" style = "background-color:#00446a">
			<div class = "img-center">
				<a href="#"><img class = "portfolio-cell-image img-responsive center-block" src = "/images/fairgrieve.png"></a>
			</div>
		</div>
		<div class = "col-xs-6 col-md-4 portfolio-cell" style = "background-color:white">
			<div class = "img-center">
				<a href="#"><img class = "portfolio-cell-image img-responsive center-block" src = "/images/spoonfulPhotography.png"></a>
			</div>
		</div>
	</div>
	<div class = "row portfolio-row">
		<div class = "col-xs-6 col-md-4 portfolio-cell" style = "background-color:black">
			<div class = "img-center">
				<a href="#"><img class = " img-responsive center-block" src = "http://placehold.it/128x64"></a>
			</div>
		</div>
		<div class = "col-xs-6 col-md-4 portfolio-cell" style = "background-color:#3D352A">
			<div class = "img-center">
				<a href="#"><img class = "portfolio-cell-image img-responsive center-block" src = "http://placehold.it/128x128"></a>
			</div>
		</div>
		<div class = "col-xs-6 col-md-4 portfolio-cell" style = "background-color:#545454">
			<div class = "img-center">
				<a href="#"><img class = "portfolio-cell-image img-responsive center-block" src = "http://placehold.it/64x64"></a>
			</div>
		</div>
	</div>
	<div class = "row portfolio-row">
		<div class = "col-xs-6 col-md-4 portfolio-cell" style = "background-color:#2F4F4F">
			<div class = "img-center">
				<a href="#"><img class = " img-responsive center-block" src = "http://placehold.it/128x64"></a>
			</div>
		</div>
	</div>
</div>